@{
    ViewData["Title"] = "Documentação do Projeto Elevador";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Projeto Elevador!<br><br></h1>
</div>

<div class="text-justify">
    <h1 class="display-10"> Este documento serve para instruir o usuário na utilização do aplicativo console "Projeto Elevador". 

        A função deste projeto é o de gerenciar um elevador para transporte de pessoas em um prédio. <br><br>

        Ao iniciar a aplicação, o usuário deve informar a quantidade de andares do prédio e a capacidade máxima do elevador conforme informado no console. <br><br>

        Após a inserção destes dados, o usuário já será capaz de realizar o controle do elevador. 
        O menu com opções de controle do elevador é apresentado conforme a figura 1. 
        Lembrando que o elevador sempre inicia-se vazio no andar 0 (térreo). 
        </h1>

        <br><br><p>Figura 1: Ilustração do menu inicial. </p>
        <img src="imagens/menuInicial.png" />
        <p>Fonte: autor, 2021. </p>

        <h1 class="display-10"> Conforme ilustrado na figura 1, o aplicativo oferece quatro opções para o controle do elevador. São elas:<br><br>

        1) Adicionar uma pessoa no elevador. A figura 2 apresenta uma ilustração do console ao adicionar uma pessoa no elevador. </h1>

        <br><br><p>Figura 2: Ilustração do console ao adicionar uma pessoa no elevador. </p>
        <img src="imagens/adicionou.png"/>
        <p>Fonte: autor, 2021.</p>

        <h1 class="display-10"> A aplicação mostrará a quantidade atual de pessoas no elevador e em qual andar do prédio o mesmo está. 
            Note que se o elevador já estiver com a capacidade máxima atingida, então não será mais possível adicionar ocupantes.<br><br>

        2) Retirar uma pessoa no elevador. A figura 3 apresenta uma ilustração do console ao retirar uma pessoa no elevador. </h1>

        <br><br><p>Figura 3: Ilustração do console ao retirar uma pessoa no elevador. </p>
        <img src="imagens/retirou.png"/>
        <p>Fonte: autor, 2021.</p>

        <h1 class="display-10"> Note que se o elevador já estiver vazio, então não será mais possível retirar ocupantes.<br><br>

        3) Fazer o elevador subir um andar no prédio. A figura 4 apresenta uma ilustração do console ao elevador subir um andar. </h1>

        <br><br><p>Figura 4: Ilustração do console ao elevador subir um andar no prédio. </p>
        <img src="imagens/elevadorSubiu.png"/>
        <p>Fonte: autor, 2021.</p>

        <h1 class="display-10"> Note que se o elevador já estiver no último andar, então não será mais possível subir.<br><br>

        4) Fazer o elevador descer um andar no prédio. A figura 5 apresenta uma ilustração do console ao elevador descer um andar. </h1>

        <br><br><p>Figura 5: Ilustração do console ao elevador descer um andar no prédio. </p>
        <img src="imagens/elevadorDesceu.png"/>
        <p>Fonte: autor, 2021.</p>

        <h1 class="display-10"> Note que se o elevador já estiver no térreo, então não será mais possível descer, ou seja, não há andares subterrâneos no prédio.<br><br>

        Para acessar cada uma dessas opções de controle, o usuário deve digitar o valor correspondente a cada uma das funções (valores de 1 a 4). 
        Quando o usuário desejar sair da aplicação, apenas precisa informar o valor 5 no menu. A figura 6 apresenta uma ilustração do console ao usuário decidir sair da aplicação. </h1>
    
        <br><br><p>Figura 6: Ilustração do console ao usuário decidir sair da aplicação. </p>
        <img src="imagens/sair.png"/>
        <p>Fonte: autor, 2021.</p>

        <h1 class="display-30">Obrigado por utilizar o Projeto Elevador! ;)<br><br> </h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
